<nav class="navbar flex-between">
    <div>
        <i></i>
        <a href="#home">SnowTricks</a>
    </div>
    <div>
        <a href="#home">HOME</a>
        <a href="#geister">REGISTER</a>
        <a href="#login">LOGIN</a>
    </div>
</nav>