{% extends 'base.html.twig' %}
{% block title %}SnowTricks - Accueil{% endblock %}

{% block sectionOne %}
 <div id="picture-trick">
    <h1>Nom de la figure</h1>
 </div>
{% endblock %}

{% block sectionTwo %}
<div id="gallery" class="flex"> Gallery Tricks 
  CARD avec image et video
</div>
<div id="comment" class="flex"> Gallery Tricks 
  <div>Zone de commentaire</div>
</div>
{% endblock %}